#contact {
  padding: 4rem;
}

/* LEFT - Contact options ========================================= */

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin-bottom: 4rem;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background-color: transparent;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid var(--colour-primary);
  transition: var(--transition);
}

.contact__option:hover {
  background: var(--colour-bg-variant);
  border: 1px solid transparent;
}

.contact__option-icon {
  font-size: 1.5rem;
}

.contact__option h5 {
  color: var(--colour-light);
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

.contact__email {
  word-wrap: break-word;
}

/* RIGHT - Form ========================================= */
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__input-div {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid var(--colour-primary);
  color: var(--colour-white);
}

.contact__input-div input,
.contact__input-div textarea {
  width: 100%;
  padding: 0.8rem;
  background: transparent;
  border-radius: 0.5rem;
  outline: none;
  color: var(--colour-white);
  transition: 0.5s;
  resize: none; /* Dont allow user to resize textarea */
}

.contact__input-div span {
  position: absolute;
  left: 0;
  padding: 0.8rem;
  pointer-events: none;
  font-size: 0.8rem;
  color: var(--colour-light);
  text-transform: uppercase;
  transition: var(--transition);
}

.contact__input-div input:valid ~ span,
.contact__input-div input:focus ~ span,
.contact__input-div textarea:focus ~ span,
.contact__input-div textarea:focus ~ span {
  color: #eead17;
  transform: translateX(1rem) translateY(-0.35rem);
  font-size: 0.6rem;
  padding: 0 0.8rem;
  background: #1f1f38;
  /* border-left: 1px solid #eead17;
  border-right: 1px solid #eead17; */
  background: var(--colour-primary);
  color: var(--colour-bg);
  font-weight: bold;
  border-radius: 0.2rem;
  letter-spacing: 0.2rem;
}

/* .contact__input-div input:valid,
.contact__input-div input:focus,
.contact__input-div textarea:valid,
.contact__input-div textarea:focus {
  border: 1px solid #eead17;
} */

/* =============== Media queries ===============  */

/* Medium devices */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 6rem;
  }
}

/* Small devices */
@media screen and (max-width: 600px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    width: var(--container-width-sm);
    margin-bottom: 6rem;
  }
}
