header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* Buttons =========================================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Social links ====================================== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  /* Place socials in bottom left corner */
  position: absolute;
  left: 0;
  bottom: 3rem;
}

/* Add the line after the socials links */
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--colour-primary);
}

/* Image ====================================== */
.me {
  /* background: var(--colour-primary); */
  background: linear-gradient(var(--colour-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  /* left: 50%;
  transform: translateX(-50%); */
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
  padding: 5rem 0 0 0;
}

/* Scroll Down text ====================================== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
