header {
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__fullstop {
  color: var(--colour-primary);
  font-size: 2rem;
}

/* Buttons =========================================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__contact {
  box-shadow: 0 0 0 0 rgba(238, 173, 23, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 173, 23, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(238, 173, 23, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 173, 23, 0);
  }
}

/* Social links ====================================== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  /* Place socials in bottom left corner */
  position: absolute;
  left: 0;
  bottom: 3rem;
}

/* Add the line after the socials links */
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--colour-primary);
}

/* Image ====================================== */
/* .me {
  background: linear-gradient(var(--colour-primary-header-image), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem; */
/* Needed for my own image? */
/* padding: 5rem 0 0 0;
} */

/* Needed for my own image? */
/* .me > img {
  width: 24rem;
  height: 24rem;
  object-fit: contain;
} */

.me {
  width: 30rem;
  position: absolute;
  left: calc(50% - 15rem);
  margin-top: 4rem;
  overflow: hidden;
  border-right: 2px solid var(--colour-primary);
  border-bottom: 2px solid var(--colour-primary);
}

/* Scroll Down text ====================================== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Didnt like the look of this with an icon */
/* .header__contact-icon {
  margin-right: 0.5rem;
} */

/* Tooltips SOCIAL =============================  */

.tooltip-social {
  position: relative;
  display: inline-block;
}

.tooltip-social .tooltiptext-social {
  opacity: 0;
  width: 6rem;
  background-color: var(--colour-white);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  margin-left: 10px;
  font-size: 0.8rem;
  transition: opacity 0.6s ease-in-out;
}

/* Add the little arrow */
.tooltip-social .tooltiptext-social::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--colour-white) transparent transparent transparent;
  transform: rotate(90deg);
}

.tooltip-social:hover .tooltiptext-social {
  opacity: 1;
}

/* =============== Media queries ===============  */

/* Medium devices */
@media screen and (max-width: 1024px) {
  /* header {
    height: 68vh;
  } */
}

/* Small devices */
@media screen and (max-width: 600px) {
  /* header {
    height: 100vh;
  } */

  .header__socials,
  .scroll__down {
    display: none;
  }
}
