nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--colour-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

nav a.active {
  background: var(--colour-primary);
  opacity: 0.9;
  color: var(--colour-white);
}

/* Tooltips =============================  */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 6rem;
  background-color: var(--colour-white);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.8rem;
}

/* Add the little arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--colour-white) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Tooltips SOCIAL =============================  */

.tooltip-social {
  position: relative;
  display: inline-block;
}

.tooltip-social .tooltiptext-social {
  visibility: hidden;
  width: 6rem;
  background-color: var(--colour-white);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  margin-left: 10px;
  font-size: 0.8rem;
}

/* Add the little arrow */
.tooltip-social .tooltiptext-social::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--colour-white) transparent transparent transparent;
  transform: rotate(90deg);
}

.tooltip-social:hover .tooltiptext-social {
  visibility: visible;
}
